 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

// Variables
$picSize: 230px;
$orgIconSize: ($picSize / 5) - 3;
$pageWidth: 1020px;

$cLink: #4183c4;
$cGray3: #333;
$cGray6: #666;
$cGray7: #777;
$cGray8: #888;
$cGray9: #999;
$cGrayB: #bbb;
$cGrayC: #ccc;
$cGrayD: #ddd;


// Mixins
@mixin centerPage() {
  margin: 0 auto;
  width: $pageWidth;
  padding: 0 20px;
}

@mixin searchBox($width, $height) {
  width: $width;
  height: $height;
  padding: 7px 8px;
  border: 1px solid $cGrayC;
  border-radius: 3px;
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.075);
  outline: none;
  &:focus {
    border-color: #51a7e8;
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.075),0 0 5px rgba(81,167,232,0.5);
  }
}

// Buttons & Menu Down Icon
@mixin baseButton() {
  font-weight: 700;
  padding: 7px 12px;
  line-height: 24px;
  color: $cGray3;
  text-shadow: 0 1px 0 rgba(255,255,255,0.9);
  background-color: #eee;
  background-image: linear-gradient(#fcfcfc, #eee);
  background-repeat: repeat-x;
  border: 1px solid #d5d5d5;
  border-radius: 3px;
  cursor: pointer;
  &:hover {
    background-color: #ddd;
    background-image: linear-gradient(#eee, #ddd);
    border: 1px solid #ccc;
  }
}

.std-button { @include baseButton; }

.slim-button {
  @include baseButton;
  padding: 0 10px;
}

.success-button {
  @include baseButton;
  background-color: #60b044;
  background-image: linear-gradient(#8add6d, #60b044);
  background-repeat: repeat-x;
  border-color: #5ca941;
  color: white;
  &:hover {
    background-color: #569e3d;
    background-image: linear-gradient(#79d858, #569e3d);
    border-color: #4a993e;
  }
}

.menu-down:after {
  display: inline-block;
  width: 0;
  height: 0;
  content: "";
  vertical-align: -2px;
  border: 4px solid;
  border-right-color: transparent;
  border-left-color: transparent;
  border-bottom-color: transparent;
}

// Base Elements
body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 13px;
  color: $cGray3;
  box-sizing: border-box;
  // Make this page look slightly different than the real deal.
  border-left: 5px solid red;
  border-right: 5px solid red;
}

*:before, *:after { box-sizing: inherit; }

h3 { font-size: 20px; margin-bottom: 13px; }

p { margin: 8 0; }

ul { margin: 0; padding: 0; }

li { list-style: none; }

a { text-decoration: none; color: $cLink; }

i { margin-right: 5px; }

small { font-size: 13px; color: $cGray8; }

// Main page sections: header, .page-wrapper, footer
// .page-wrapper sections:  aside, section.main
header {
  height: 50px;
  background: #F5F5F5;
  margin-bottom: 20px;
  border-bottom: 1px solid #e5e5e5;
  nav {
    @include centerPage;
    overflow: hidden;
    li {
      float: left;
      margin: 0 9px;
      line-height: 50px;
      font-weight: 700;
      cursor: pointer;
      &:first-child { margin: 0 -5px 0 0; }
      &:hover { color: $cLink; }
    }
    ul.left {
      float: left;
      li {
        .search-github {
          @include searchBox(358px, 26px);
          font-size: 12px;
          font-weight: 400;
        }
        &:first-child { margin-top: 5px; }
        a {
          color: $cGray3;
          i {
            font-size: 28px;
            color: $cGray3;
            &:hover { color: $cLink; }
          }
        }
      }
    }
    div {
      float: right;
      ul.right {
        li {
          margin: 0 5px;
          &:last-child { margin-right: -3px; }
          a {
            color: $cGray3;
            &:hover { color: $cLink; }
          }
          img {
            width: 20px;
            border-radius: 3px;
            vertical-align: middle;
          }
          .username { margin: 0 5px; }
          a i {
            font-size: 18px;
            color: $cGray3;
            &:hover { color: $cLink; }
          }
          .octicon-plus:after { margin-left: 2px; }
          .octicon-inbox { font-size: 20px; }
        }
      }
    }
  }
}

.page-wrapper {
  @include centerPage;
  @include outer-container;  // Neat grid system
  max-width: $pageWidth;
}

aside {
  @include span-columns(3.05);  // Neat grid system
  > div, > ul {
    padding: 15px 0;
    border-bottom: 1px solid #eee;
    overflow: hidden;
  }
  .identity {
    img {
      width: $picSize;
      height: $picSize;
      margin-top: -15px;
      border-radius: 6px;
    }
    h1 {
      margin: 3px 0 2px;
      font-size: 26px;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    div {
      margin-bottom: 5px;
      font-size: 20px;
      font-weight: 300;
      color: $cGray6;
    }
  }
  ul.contact-info {
    font-size: 16px;
    li i {
      width: 12px;
      text-align: center;
      margin: 5px 15px 5px 0;
      color: $cGrayC;
    }
  }
  ul.stats li {
    float: left;
    width: ($picSize - 2) / 3;
    text-align: center;
    a:hover div{ color: $cLink; }
    div:first-child {
      font-size: 28px;
      font-weight: 700;
    }
    div:last-child {
      font-size: 11px;
      color: $cGray9;
    }
  }
  .orgs {
    border-bottom: none;
    h3 {
      font-size: 18px;
      margin: 10px 0;
    }
    ul li {
      float: left;
      margin-right: 3px;
      &:nth-child(5n) { margin-right: 0; }
      img {
        width: $orgIconSize;
        height: $orgIconSize;
        border-radius: 3px;
      }
    }
  }
}

section.main {
  @include span-columns(8.95);  // Neat grid system
  nav.tab {
    margin-bottom: 15px;
    ul {
      li {
        float: left;
        padding: 8px 12px 7px;
        font-size: 15px;
        line-height: 20px;
        color: $cGray6;
        border: 1px solid transparent;
        border-bottom: 1px solid $cGrayD;
        cursor: pointer;
      }
      .active {
        color: $cGray3;
        border: 1px solid $cGrayD;
        border-bottom: 1px solid transparent;
        border-radius: 3px 3px 0 0;
      }
    }
    .tab-right {
      overflow: hidden;
      border-bottom: 1px solid $cGrayD;
      .slim-button {
        float: right;
        margin: 0 0 10px 2px;
      }

    }
  }
  .filter-bar {
    overflow: hidden;
    padding-bottom: 10px;
    border-bottom: 1px solid $cGrayD;
    form {
      float: left;
      .search-repos {
        @include searchBox(260px, 34px)
      }
    }
    .success-button, ul, li {
      float: right;
      line-height: 18px;
      margin-left: 10px;
    }
    li {
      margin: 10px 5px;
      font-size: 14px;
      a:hover {
        text-decoration: underline;
      }
    }
    .active {
      font-weight: 700;
      a { color: black; }
    }
  }
  .repo-list {
    li {
      overflow: hidden;
      padding: 30px 0;
      border-bottom: 1px solid $cGrayD;
      .repo-info {
        float: left;
        h3 {
          margin-top: 0;
          a:hover {
            text-decoration: underline;
          }
        }
        .forked-from {
          color: $cGray8;
          font-size: 12px;
          i {
            font-size: inherit;
            margin-right: 0;
          }
        }
      }
      .repo-stats {
        float: right;
        font-size: 13px;
        font-weight: 700;
        color: $cGray8;
        span {
          margin-right: 7px;
          &:last-child { margin-right: 0 };
        }
        a {
          color: $cGray8;
          &:hover { color: $cLink; };
          i { margin: 2px;; }
        }
      }
    }
  }
}

footer {
  @include centerPage;
  clear: both;
  overflow: hidden;
  margin-top: 40px;
  padding: 0 20px;
  font-size: 12px;
  nav {
    padding: 40px 0;
    border-top: 1px solid $cGrayD;
    ul.left {
      float: left;
      width: 400px;
      li {
        float: left;
        &:first-child { color: $cGray7; }
      }
    }
    ul.right {
      float: right;
      width: 400px;
      li { float: right; }
    }
    li {
      margin: 0 5px;
      line-height: 30px;
      a:hover { text-decoration: underline; }
    }
    .center {
      width: 50px;
      margin: 0 auto;
      a i {
        font-size: 24px;
        color: $cGrayC;
        &:hover { color: $cGrayB; }
      }
    }
  }
}

