
<li><a href="{{ html_url }}"><img src="{{ avatar_url }}" alt="avatar"><span class="username">{{ login }}</span></a></li>
<li><a href="#"><i class="octicon octicon-plus menu-down"></i></a></li>
<li><a href="https://github.com/notifications"><i class="octicon octicon-inbox"></i></a></li>
<li><a href="https://github.com/settings/profile"><i class="octicon octicon-gear"></i></a></li>
<li><a href="https://github.com"><i class="octicon octicon-sign-out"></i></a></li>

